ul.medium  > li {
    font-family:Gotham-Medium !important;
}

.text-right {
    text-align:right;
}

.button-class {
    display:block;
    cursor:pointer;
    list-style:none;
    width:100px;
    height:39px;
    background-color:#666666;
    margin-bottom:4px;
    margin-left:0;
    left:0;
    color:white;
    padding-top:5px;
    text-align:center;
    line-height:28px;
    letter-spacing:0.5px;
    z-index:9902;
    position:relative;
    font-family:Gotham-Condensed-Medium, Sans-Serif;
    font-size:21px;
    box-shadow:0px 1px #000; 
    -moz-box-shadow:0px 1px #000;
    -webkit-box-shadow: 0px 1px #000;
    border-radius:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*
.button-class:hover  {	
    background-color:#808080;
}
.button-class:active  {	
*/
    background-color:#757575;
}

#SeeFlowBtn.button-class.active, #ExtraBtn.button-class.active{
    cursor:pointer;
}
/*
#SeeFlowBtn.button-class.active:hover {
    background-color:#808080;
}
*/
#SeeFlowBtn.button-class.active:active {
    background-color:#757575;
}

/*
#ExtraBtn.button-class.active:hover, #ExtraBtn.button-class:hover{
    background-color: rgba(123,166,187,1);
}
*/
#ExtraBtn.button-class:active {
    background-color: rgba(41,137,185,1);
}
#ExtraBtn.button-class.active:active {
    background-color:#808080;
}

#ExtraBtn.button-class.active {
    color: #414142;
    background-color: #b3b3b3;
}

#ExtraBtn.button-class.disabled {
    background-color:#4d4d4d;
}

#welcome-button, .flow-button{
    width:100%;
}

#header-text {
    width:100%;
    height:50px;
    text-align:center;
    position:absolute;
    color:#FFFFFF;  
    font-size:25px; 
    font-family: Gotham-Condensed-Medium, Arial, cursive; 
    padding:9px 0px; 
    text-align:center;
    z-index:9901;
}

#PfBtn{float:left;}
#PnfBtn{float:left; margin-left:20px;}
#ExtraBtn{float:right; width:100px; font-size: 18px; text-align: center; background-color: rgba(32,106,143,1);}
#SeeFlowBtn{float:right; width:100px; margin-right:20px;}
#LimitationsBtn{float:right; width:100px; margin-right:20px;}
#PfBtn2, #PnfBtn2, #CaptainBtn, #OfficerBtn, .CaptainBtn2, .OfficerBtn2 {width:100%;}

#PfBtn2:active, #PnfBtn2:active, #CaptainBtn:active, #OfficerBtn:active {
    background-color: #009fe3;
}

#PfBtn2.active-delay, #PnfBtn2.active-delay, #CaptainBtn.active-delay, #OfficerBtn.active-delay,  .CaptainBtn2.active-delay, .OfficerBtn2.active-delay {
    background-color: #009fe3;
}

/* MENU */
.left-menu {
    display:none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width:290px; 
    height:580px; 
    position: fixed;
    bottom:0;
    /* left: -290px; */
    left: 0;
    z-index:9799;

    color:#252525;
    font-size:20px;
    font-family:Gotham-Condensed-Medium, Sans-Serif;

    border-left:none;
    padding:10px;
    pointer-events:auto;

}

#menu-top-bckg{
    z-index:-1;
    background:rgba(51,51,51,0.8);
    border-top:1px solid rgba(102,102,102,0.7);
    border-right:1px solid rgba(102,102,102,0.7);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:41.55172413793104%;
}

#menu-middle-bckg{
    z-index:-1;
    background:rgba(51,51,51,0.8);
    position:absolute;
    top:41.55172413793104%;
    left:0;
    width:100%;
    height:16.89655172413793%;
}

#menu-bottom-bckg{
    z-index:-1;
    background:rgba(51,51,51,0.8);
    position:absolute;
    top:58.44827586206896%;
    left:0;
    width:100%;
    height:41.55172413793104%;
    border-bottom:1px solid rgba(102,102,102,0.7);
    border-right:1px solid rgba(102,102,102,0.7);
}

#menu-wrapper {
    width:580px; 
    height:580px; 
    position: fixed;
    bottom:0;
    left:-290px;
    pointer-events:none;
}


.left-arrow {
    display:block;
    cursor:pointer;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width:40px; 
    height:100px; 
    position: absolute;
    bottom:240px;
    left: 290px;
    z-index:9900;
    background:url(../images/menu/map-arrow.png) rgba(51,51,51,0.8)  no-repeat -35px center; 
    color:#252525;
    font-family:Gotham-Medium, Sans-Serif;
    border:1px solid rgba(102,102,102,0.8);
    border-left:none;
}

ul.main-menu {
    margin:0;
    padding:0;
}		
ul li.menu-item   {	
    cursor:pointer;
    list-style:none;
    width:270px;
    height:43px;
    background-color:#666666;
    margin-bottom:4px;
    margin-left:0;
    left:0;
    color:white;
    padding-top:0px;
    text-align:center;
    line-height:22px;
    letter-spacing:0.5px;
    z-index:5;


    box-shadow:0px 1px #000; 
    -moz-box-shadow:0px 1px #000;
    -webkit-box-shadow: 0px 1px #000;

    border-radius:3px;
    text-transform:uppercase;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.menu-text1{
    /* text-decoration:underline; */
    border-bottom: 1px solid white;
    padding-bottom: 1px;
}
.menu-text2 {
    margin-top:0px;
    font-size:14px;
}

/* buttons states */
/*
ul li.menu-item:hover  {	
    background-color:#808080;
}
*/
ul li.menu-item:active {	
    background-color:#757575;
}

ul li.menu-item.disabled {
    background-color:#4d4d4d;
    color:#333333;
    cursor:default;
}
.disabled.menu-text1 {
    border-color: #333333;
}
.active .menu-text1 {
    border-color: #070707;
}
ul li.menu-item.active {
    background-color:#b3b3b3;
    color:#070707;
    cursor:default;
}

.button-class.disabled {
    background-color:#4d4d4d;
    color:#333333;
    cursor:default;
}

.button-class.active {
    background-color:#b3b3b3;
    color:#070707;
    cursor:default;
}

.li-margin-bottom{
    margin-bottom:20px;
}

/* #pf-menu{display:none;}
#pnf-menu{display:none;} */













.main-box {
    padding-left:15px;
    padding-right:15px;
}
.main-box .col-xs-12{
    z-index:-2; 
    border:1px #000 solid; 
    padding:15px; 
    background:rgba(220,220,220,1);
}

.caution-box {
    border:2px solid #000;
    padding:15px;
}

#PopUp-FmgsDescent .caution-box {
    background:rgba(220,220,220,1);
}

#click-to-enlarge {
    cursor:pointer;
    margin-right:15px;
}

#fmgs-pic {
    z-index:999;

    width:800px; 
    height:158px; 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-400px;
    margin-top:-79px;
    display:none;
}



.close-button-fmgs{
    position:absolute;
    top:5px;
    right:-5px;
    cursor:pointer;
    width:46px;
    height:44px;
    opacity:1;
    z-index:100;
}
/*
.close-button-fmgs:hover{
    opacity:1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}	
*/



p {
    margin:0;
}


/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}


body {
    line-height:1.23em !important;
}

div {	pointer-events:inherit;
}


/* .header {
background-color:rgba(51,51,51,0.8);
border-bottom:1px solid rgba(102,102,102,0.8);
height:50px;
width:100%;
z-index:2;
position:fixed;
top:0px;
left:0;
}		
*/	



.start-message {
    width:500px; 
    height:250px; 

    margin-left:-250px;
    margin-top:-125px;
}

.start-message-2 {
    width:990px; 
    height:450px; 

    margin-left:-495px;
    margin-top:-225px;
}

.start-message-3 {
    width:700px; 
    height:250px; 

    margin-left:-350px;
    margin-top:-125px;
}

.start-message-4 {
    width:700px; 
    height:326px; 

    margin-left:-350px;
    margin-top:-163px;
}
.start-message-5 {
    width:400px; 
    height:200px; 

    margin-left:-200px;
    margin-top:-100px;
}

.start-message-6 {
    width:450px; 
    height:224px; 

    margin-left:-225px;
    margin-top:-112px;
}

#PfOrPnf, #CaptainOrOfficer {
    display:none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width:600px; 
    height:200px; 
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left:-300px;
    margin-top:-100px;
    z-index:9900;
    background:rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 25px 5px(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 25px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 25px 5px rgba(0,0,0,0.5);
    padding:37px 40px 40px;

    color:#252525;
    font-family:Gotham-Medium, Sans-Serif;
}

/*

.popup-class ul
{
    margin:0;
    padding:0;
}
.popup-class li, .popup-class p{
    font-family:Gotham-Light, Sans-Serif;
}
.popup-class ul li {
    list-style:none;
}
.popup-class ol li {
    margin-bottom:15px;
}
.popup-class ol {
    margin:0;
    padding:0 0 0 20px;
}
*/
.popup-class h2 {
    font-size: 1em;
    text-decoration:underline;
}


.popup-class ul.margins li
{
    margin-bottom:7px;
}

.popup-class ul > ul
{
    margin-left:15px;
    padding:0;
}

#PfOrPnf h1, #CaptainOrOfficer h1 {
    font-size: 1.3em;
    margin:0;
    margin-bottom:10px;
}
#PfOrPnf h1, #CaptainOrOfficer h1 {
    text-align:center;
}

.mar-left {
    margin-left:30px;
}
.mar-left2 {
    margin-left:60px !important;
}


/*  SCROLL BARS  */
/* .scroll, .scrollb, .scrollc, .scrolld, .scrolle , .scrollf, .scrollg, .scrollh
{	
overflow:hidden;
border-top:1px dashed rgba(0, 0, 0, 0.15);
border-bottom:1px dashed rgba(0, 0, 0, 0.15);
}
*/

.scroll-1, .scroll-23 {
    overflow:hidden;
    height:535px;
    width:920px;
    border-top:1px dashed rgba(0, 0, 0, 0.3);
    border-bottom:1px dashed rgba(0, 0, 0, 0.3);
}
.scroll-20 {
    overflow:hidden;
    height:450px;
    width:920px;
    border-top:1px dashed rgba(0, 0, 0, 0.3);
    border-bottom:1px dashed rgba(0, 0, 0, 0.3);
}

.scroll-21, .scroll-22 {
    overflow:hidden;
    height:475px;
    width:920px;
    border-top:1px dashed rgba(0, 0, 0, 0.3);
    border-bottom:1px dashed rgba(0, 0, 0, 0.3);
}



/* .scroll-1 .mCSB_scrollTools {
margin-top:25px !important;
height:525px !important;
} */
.scroll-3 , .scroll-13, .scroll-14, .scroll-15, .scroll-16, .scroll-17, .scroll-18, .scroll-19{
    overflow:hidden;
    height:550px;
    width:950px;
}

.scroll-3 .mCSB_scrollTools, .scroll-13 .mCSB_scrollTools,  .scroll-14 .mCSB_scrollTools, .scroll-15 .mCSB_scrollTools, .scroll-16 .mCSB_scrollTools, .scroll-17 .mCSB_scrollTools , .scroll-18 .mCSB_scrollTools, .scroll-19 .mCSB_scrollTools  {
    margin-top:25px !important;
    height:525px !important;
}

.scroll-2, .scroll-6, .scroll-11{
    overflow:hidden;
    height:540px;
    width:915px;
    border-top:1px dashed rgba(0, 0, 0, 0.3);
    border-bottom:1px dashed rgba(0, 0, 0, 0.3);
}
.scroll-4, .scroll-5, .scroll-7, .scroll-8, .scroll-9, .scroll-10   {
    overflow:hidden;
    height:450px;
    border-top:1px dashed rgba(0, 0, 0, 0.3);
    border-bottom:1px dashed rgba(0, 0, 0, 0.3);
}


.scroll-12 {
    overflow:hidden;
    height:420px;
    width:950px;
    border-top:1px dashed rgba(0, 0, 0, 0.3);
    border-bottom:1px dashed rgba(0, 0, 0, 0.3);
}


.imgBorder {
    /*border:solid 6px #FFF;*/

    -moz-box-shadow: 0px 5px 9px -1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow:  0px 5px 9px -1px rgba(0, 0, 0, 0.8);
    box-shadow:  0px 5px 9px -1px rgba(0, 0, 0, 0.8);
}

.tabs-page {
    margin-top:7px;
}

/*  IMAGES  */
#FlightCrewMask .imageClass
{
    position:absolute;
    bottom:60px;
    left:20px;
}


.descent-ul ul li{ margin-left:30px; text-indent:-8px;}
.descent-ul ul li:before{ content:"-"; position:relative; left:-8px;}



.extra-popup {
    width:450px; 
    height:300px; 
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left:-225px;
    margin-top:-150px;
}

.continue {
    width:200px;
    font-family: Gotham-Condensed-Medium, Sans-Serif;
    font-size: 21px;
    line-height:29px !important;
}

.mCSB_container {
    overflow:visible !important;
}

#notes-panel {
    display:none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width:340px; 
    height:100%; 
    overflow:hidden;
    position: fixed;
    top:113px;
    right:0;
/*    z-index:9790;*/
    background:rgba(51,51,51,0.8);
    border-left:1px solid rgba(102,102,102,0.7); 
    padding:20px;
    color:#FFF;
    font-family:Gotham-Light;
    font-size:14px;
}
#notes-panel .scrollable {
    height:calc(100% - 158px);
    border-color:rgba(255,255,255,0.3);
}


#notes-panel .heading {
    font-family:Gotham-Medium;
    font-size:21px;

    /* text-transform:uppercase; */
}
#notes-panel .row {
    width:inherit;
    padding-right:15px;
}


/*
.scroll-24 {
    overflow:hidden;
    height:calc(100% - 120px);
    width:300px;
    position:fixed;
}
*/

/* CDU Other Notes tab style */
.other-notes-tab.ui-state-default,
.other-notes-tab.ui-widget-content .other-notes-tab.ui-state-default,
.other-notes-tab.ui-widget-header .other-notes-tab.ui-state-default {
    border: 1px solid #ffffff;
    background: rgba(32,106,143,1);
}

/* text */
.other-notes-tab.ui-state-default a,
.other-notes-tab.ui-state-default a:link,
.other-notes-tab.ui-state-default a:visited {
    color: #FFFFFF;
    text-decoration: none;
    outline: 0;
    font-family: Gotham-Condensed-Medium;
}

/*
.other-notes-tab.ui-state-hover,
.other-notes-tab.ui-widget-content .other-notes-tab.ui-state-hover,
.other-notes-tab.ui-widget-header .other-notes-tab.ui-state-hover,
.other-notes-tab.ui-state-focus,
.other-notes-tab.ui-widget-content .other-notes-tab.ui-state-focus,
.other-notes-tab.ui-widget-header .other-notes-tab.ui-state-focus {
    border: 1px solid #ffffff;
    background: rgba(123,166,187,1);
}
*/

.other-notes-tab.ui-state-hover a,
.other-notes-tab.ui-state-hover a:link,
.other-notes-tab.ui-state-hover a:visited {
    color: #FFFFFF;
    text-decoration: none;
    outline: 0;
}
.other-notes-tab.ui-state-active,
.other-notes-tab.ui-widget-content .other-notes-tab.ui-state-active,
.other-notes-tab.ui-widget-header .other-notes-tab.ui-state-active {
    border: 1px solid #FFFFFF;
    background: transparent;

    color: rgba(32,106,143,1);
}
.other-notes-tab.ui-state-active a,
.other-notes-tab.ui-state-active a:link,
.other-notes-tab.ui-state-active a:visited {
    color: rgba(32,106,143,1);
    text-decoration: none;
    outline: 0;
}

.ui-tabs .ui-tabs-panel {
    height:575px;
}

table.limitations-tbl
 {border-collapse:collapse;
 border-spacing:0;
 border-color:#999;
 }

.limitations-tbl th
{
	font-family:Gotham-Medium, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#999;
	color:#252525;
}

.limitations-tbl td
{
	font-family:Gotham-Light, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#999;
	color:#333;	
	
}
