@font-face
{
    font-family: Gotham-Medium;
    src: url(../fonts/GothamMedium.otf);
}
@font-face
{
    font-family: Gotham-Medium;
    src: url(../fonts/GothamMedium-Italic.otf);
    font-style:italic;
}

@font-face
{		
    font-family: Gotham-Light;
    src: url(../fonts/GothamLight.otf);
}
@font-face
{		
    font-family: Gotham-Light;
    src: url(../fonts/GothamLight-Italic.otf);
    font-style:italic;
}

@font-face
{		
    font-family: Gotham-Book;
    src: url(../fonts/GothamBook.otf);
}

@font-face
{		
    font-family: Gotham-Condensed-Medium;
    src: url(../fonts/GothamCondensed-Medium.otf);
}

span.medium {
    font-family:Gotham-Medium;
}

/*
.padding{
    padding-top:7px;
}

*/


/* load bar */
#splash-screen {
    display:block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width:100%; 
    height:100%; 
    position: fixed;
    top:0;
    left:0;
    z-index:9998;
    background:rgba(255,255,255,1);
    text-align:center;


    color:#252525;
    font-family:Gotham-Medium;
}
#splash-logo {
    width:400px; 
    height:59px; 
    position: fixed;
    top: 50%;
    left:50%;
    margin-left:-200px;
    margin-top:-85px;
}		

#splash-screen p {
    display:none;
    font-family:Gotham-Light;
    text-align:center;
    position: fixed;
    top: 50%;
    left:50%;

    width:400px;
    margin-left:-200px;
    margin-top:35px;
    color:#4D91F7;
}

.pace {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    /*  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; */

    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    z-index: 9999;
    position: fixed;
    margin: auto;
    top: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 600px;
    height: 8px;
    border: 1px solid #4D91F7;
    background-color: #fff;
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    /*   -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; */

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    -webkit-transition: width 1s ease-in-out 1s linear;
    -moz-transition: width 1s ease-in-out 1s linear;
    -ms-transition: width 1s ease-in-out 1s linear;
    -o-transition: width 1s ease-in-out 1s linear;
    transition: width 1s ease-in-out 1s linear;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    max-width: 600px;
    position: fixed;
    z-index: 9999;
    display: block;
    position: absolute;
    height: 6px;
    font-size: 16px;
    background: #4D91F7;
    color: #4D91F7;
    line-height: 45px;
    font-family:  Gotham-Light, sans-serif;
}

.pace .pace-progress:after {
    content: attr(data-progress-text);
    display: inline-block;
}

.pace.pace-inactive {
    display: none;
}		






/* HEADER */
#header {
    display:block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width:100%; 
    height:50px; 
    position: fixed;
    top:63px;;
    z-index:0;
    background:rgba(51,51,51,0.8);
    color:#252525;
    font-size:21px;
    font-family:Gotham-Condensed-Medium;
    border-bottom:1px solid rgba(102,102,102,0.7);
    padding:5px;
}
.button-class {
    display:block;
    cursor:pointer;
    list-style:none;
    width:100px;
    height:39px;
    background-color:#666666;
    margin-bottom:4px;
    margin-left:0;
    left:0;
    color:white;
    padding-top:5px;
    text-align:center;
    line-height:28px;
    letter-spacing:0.5px;
    z-index:9902;
    position:relative;

    box-shadow:0px 1px #000;

    border-radius:3px;
}
/*
.button-class:hover  {	
    background-color:#808080;
}
*/
.button-class:active  {	
    background-color:#757575;
}

.flow-button {
    width:100%;
}

.center{
    text-align: center;
}

#SeeFlowBtn.button-class.active{
    cursor:pointer;
}
/*
#SeeFlowBtn.button-class.active:hover {
    background-color:#808080;
}
*/
#SeeFlowBtn.button-class.active:active {
    background-color:#757575;
}

#header-text {
    width:100%;
    height:50px;
    text-align:center;
    position:absolute;
    color:#FFFFFF;  
    font-size:25px; 
    font-family: Gotham-Condensed-Medium, Arial, cursive; 
    padding:9px 0px; 
    text-align:center;
    z-index:9901;
}

#PfBtn{float:left;}
#PnfBtn{float:left; margin-left:25px;}
#SeeFlowBtn{float:right; width:115px;}
#LimitationsBtn{float:right; width:100px; margin-right:20px;}
#ProfilesBtn{float:right; width:100px; margin-right:20px;}

.LimitTable{
    border: 1px solid black;
    padding: 7px 15px 7px 15px;
    font-size: 16px;
    font-family: Gotham-Light;
}

.LimitTable.HeadText{
    font-family: Gotham-Book;
    font-size: 18px;
}

.LimitTable.CentText{
    text-align: center;
}
.LimitTable.CentText.NoRB{
    border-right: none;
}
.LimitTable.CentText.NoLB{
    border-left: none;
}

.mar-left{
    margin-left: 20px;
}

/* MENU */
.left-menu {
    display:none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width:290px; 
    height:618px; 
    position: fixed;
    bottom:0;
    left: -290px;
    z-index:9799;

    color:#252525;
    font-size:21px;
    font-family:Gotham-Condensed-Medium;

    border-left:none;
    padding:10px;
    pointer-events:auto;

}

#menu-top-bckg{
    z-index:-1;
    background:rgba(51,51,51,0.8);
    border-top:1px solid rgba(102,102,102,0.7);
    border-right:1px solid rgba(102,102,102,0.7);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:41.55172413793104%;
}

#menu-middle-bckg{
    z-index:-1;
    background:rgba(51,51,51,0.8);
    position:absolute;
    top:41.55172413793104%;
    left:0;
    width:100%;
    height:16.89655172413793%;
}

#menu-bottom-bckg{
    z-index:-1;
    background:rgba(51,51,51,0.8);
    position:absolute;
    top:58.44827586206896%;
    left:0;
    width:100%;
    height:41.55172413793104%;
    border-bottom:1px solid rgba(102,102,102,0.7);
    border-right:1px solid rgba(102,102,102,0.7);
}

#menu-wrapper {
    width:580px; 
    height:580px; 
    position: fixed;
    bottom:0;
    left:-290px;
    pointer-events: none;
}


.left-arrow {
    display:block;
    cursor:pointer;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width:40px; 
    height:106px; 
    position: absolute;
    bottom:256px;
    left: 290px;
    z-index:9900;
    background:url(../images/menu/map-arrow.png) rgba(51,51,51,0.8)  no-repeat -35px center; 
    color:#252525;
    font-family:Gotham-Medium;
    border:1px solid rgba(102,102,102,0.8);
    border-left:none;
}

ul.main-menu {
    margin:0;
    padding:0;
}		
ul li.menu-item   {	
    cursor:pointer;
    list-style:none;
    width:270px;
    height:39px;
    background-color:#666666;
    margin-bottom:4px;
    margin-left:0;
    left:0;
    color:white;
    padding-top:5px;
    text-align:center;
    line-height:28px;
    letter-spacing:0.5px;
    z-index:5;


    box-shadow:0px 1px #000;

    border-radius:3px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* buttons states */
/*
ul li.menu-item:hover  {	
    background-color:#808080;
}
*/
ul li.menu-item:active {	
    background-color:#757575;
}

ul li.menu-item.disabled {
    background-color:#4d4d4d;
    color:#333333;
    cursor:default;
}

ul li.menu-item.active {
    background-color:#b3b3b3;
    color:#070707;
    cursor:default;
}

.button-class.disabled {
    background-color:#4d4d4d;
    color:#333333;
    cursor:default;
}

.button-class.active {
    background-color:#b3b3b3;
    color:#070707;
    cursor:default;
}



#pf-menu{display:none;}
#pnf-menu{display:none;}













.main-box {
    padding-left:15px;
    padding-right:15px;
}
.main-box .col-xs-12{
    z-index:-2; 
    border:1px #000 solid; 
    padding:15px; 
    background:rgba(220,220,220,1);
}

.caution-box {
    border:2px solid #000;
    padding:15px;
}
#PopUp-FmgsDescent .caution-box {
    background:rgba(220,220,220,1);
}

#click-to-enlarge {
    cursor:pointer;
    margin-right:15px;
}

#fmgs-pic {
    z-index:9999;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-400px;
    margin-top:-79px;
    display:none;
}

#fmgs-pic > img.imgBorder {
    width:800px; 
    height:158px;
}

.pop-overlay {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;			
    background:rgba(0,0,0,.5);
    z-index:9998;
    display:none;
}

.close-button-fmgs{
    position:absolute;
    top:5px;
    right:-5px;
    cursor:pointer;
    width:46px;
    height:44px;
    opacity:1;
    z-index:999;
}
/*
.close-button-fmgs:hover{
    opacity:1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}	
*/



p {
    margin:0;
}


/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}


body {
    line-height:1.23em !important;
}

div {	pointer-events:inherit;
}


/* .header {
background-color:rgba(51,51,51,0.8);
border-bottom:1px solid rgba(102,102,102,0.8);
height:50px;
width:100%;
z-index:9800;
position:fixed;
top:0px;
left:0;
} */		




.popup-class {
    display:none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width:990px; 
    height:640px; 
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left:-495px;
    margin-top:-264px;
    z-index:9900;
    background:rgba(255,255,255,0.85);
    -moz-box-shadow: 0px 0px 25px 5px(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 25px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 25px 5px rgba(0,0,0,0.5);
    padding:37px 40px 40px;

    color:#252525;
    font-family:Gotham-Medium;
}

.main-box.row {padding:0 15px;}

.flows {
    width:990px; 
    height:590px; 
    margin-top:-264px;	
    padding:20px;
}


.overlay {
    display:none;

    position:fixed;
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;			
    background:rgba(0,0,0,0.5);
    z-index:0;
}

.popup-class ul
{
    margin:0;
    padding:0;
}
.popup-class li, .popup-class p{
    font-family:Gotham-Light;
}
.popup-class ul li {
    list-style:none;
}
.popup-class ol li {
    margin-bottom:15px;
}
.popup-class ol {
    margin:0;
    padding:0 0 0 20px;
}

.popup-class h2 {
    font-size: 1em;
    font-family:Gotham-Medium;
}
.popup-class h1 {
    font-family:Gotham-Medium;
    font-size: 1.3em;
    margin:0;
    margin-bottom:10px;
}

.float-left {
    float:left; 
}

.float-right{
    float: right;

}

.close-button{
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
    width:46px;
    height:44px;
    opacity:.75;
    z-index:9901;
}
/*
.close-button:hover{
    opacity:1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
*/


table {
    width: 100%;
}
td span {
    background-color: rgba(220,220,220,1);
}
td.name:before {
    clip: rect(0px, 870px, 20px, 0px);
    overflow:hidden;

    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
    position: absolute;
    z-index: -1;
    width:100%;
    color:#252525;
}
td.name {
    color:#252525;
}
td.amt {
    text-align: right;
    color:#252525;
}		
td.text {
    width:100%;
    color:#252525;
}		


/*

.scroll-2 td.name:before {
    clip: rect(0px, 850px, 20px, 0px);
    overflow:hidden;

    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    position: absolute;
    z-index: -1;
    width:100%;
}
*/

.mar-left {
    margin-left:30px;
}

.space {
    height:10px;
}
.big-space {
    height:50px;
}

.imgBorder {
    /*border:solid 6px #FFF;*/

    -moz-box-shadow: 0px 5px 9px -1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow:  0px 5px 9px -1px rgba(0, 0, 0, 0.8);
    box-shadow:  0px 5px 9px -1px rgba(0, 0, 0, 0.8);
}

.tabs-page {
    margin-top:7px;
}

/*  IMAGES  */
#FlightCrewMask .imageClass
{
    position:absolute;
    bottom:60px;
    left:20px;
}


#PopUp-ApuFireTest ul li{ margin-left:8px; margin-bottom:20px;}
#PopUp-ApuFireTest ul li:before{ content:"-"; position:relative; left:-5px;}
#PopUp-ApuFireTest ul li{ text-indent:-5px; }

/*
#tabs2-3 ul li{ margin-left:15px; margin-bottom:20px;}
#tabs2-3 ul li:before{ content:"-"; position:relative; left:-5px;}
#tabs2-3 ul li{ text-indent:-5px; }
*/


.extra-popup {
    width:450px; 
    height:300px; 
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left:-225px;
    margin-top:-150px;
}

.continue {
    width:200px;
    font-family: Gotham-Condensed-Medium;
    font-size: 21px;
    line-height:29px !important;
}


/* Limitations css list */
.bookmark-wrap {
    float:right;
    width:auto !important;
    height:auto !important;
    padding:4px;
    margin-right:20px;
    margin-top:-21px;
}
.bookmark-wrap  img {
    width:30px;
}
.book-dropdown {
    display:none;
    position:absolute;
    right:35px;
    top:27px;
    width:100%;
    border:rgba(200,200,200,1);
    z-index:99999;
    border:1px solid rgba(102,102,102,0.7);
    /* 	background:rgba(51,51,51,0.8);*/	
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    box-shadow:0px 1px 10px -5px  rgba(0,0,0,0.75); 
    -moz-box-shadow:0px 1px 10px -5px  rgba(0,0,0,0.75); 
    -webkit-box-shadow: 0px 1px 10px -5px  rgba(0,0,0,0.75); 

}
.book-dropdown li {
    background:rgba(51,51,51,0.8);
    cursor:pointer;
    color:white;
    padding:8px 10px;
}
/*
.book-dropdown li:hover {
    background:rgba(100,100,100,0.9);
}
*/

.book-dropdown li:active {
    background:rgba(85,85,85,0.9);
}


.fmgsImg {
    width:100%;
}

.click-to-enlarge {
    width:220px;
}


.scroll-general {
    overflow:hidden;
    height:540px;
    border-top:1px dashed rgba(0, 0, 0, 0.3);
    border-bottom:1px dashed rgba(0, 0, 0, 0.3);
    padding:0 5px;
}
.scroll-general-tab {
    overflow:hidden;
    height:520px;
    border-top:1px dashed rgba(0, 0, 0, 0.3);
    border-bottom:1px dashed rgba(0, 0, 0, 0.3);
    padding:0 5px;
}	



.scrollable {
    overflow-y:auto;
    overflow-x:hidden;
    height:95%;
    margin-bottom:50px;
    border-top:1px dashed rgba(0, 0, 0, 0.3);
    border-bottom:1px dashed rgba(0, 0, 0, 0.3);
    padding:5px 0px;

}	


.scrollable-tabs {
    overflow-y:auto;
    overflow-x:hidden;
    height:100%;
    margin-bottom:50px;
    border-top:1px dashed rgba(0, 0, 0, 0.3);
    border-bottom:1px dashed rgba(0, 0, 0, 0.3);
}	

.scrollable-tiny {
    overflow-y:auto;
    overflow-x:hidden;
    height:91%;
    margin-bottom:50px;
    border-top:1px dashed rgba(0, 0, 0, 0.3);
    border-bottom:1px dashed rgba(0, 0, 0, 0.3);
    padding:5px 0px;

}	

.flows .scrollable {
    height:100%;
}

