<ion-view view-title="How do I unsubscribe?">
  <ion-content class="padding">
    <p>You can turn off the auto-renewing subscription at any time through iTunes. Tap <span class="button button-inline button-clear button-positive" onclick="window.open('https://support.apple.com/en-us/HT202039', '_system');">here</span> for a guide on how to manage and cancel your subscriptions. You will be unsubscribed after your current subscription period expires. Once your subscription expires, you will not be able to access the trainer anymore, unless you resubscribe.</p>
  </ion-content>
</ion-view>