<ion-view view-title="Terms and Conditions">
  <ion-content class="padding">
    <h2>Procedure Trainer app - Terms of use:</h2>
 
    <p>
    You agree and understand that the use of this "Procedure Trainer" application is for training and educational purposes only. You must always check your aircraft manuals (e.g. FCOM) and company manuals on how to operate an aircraft. The content displayed with this application is for educational/training purposes only and may be outdated or showing "techniques" that are not part of the aircraft manual.
    </p>
      <br/>
    <p>
    The application is intended to be used before flight training, and should therefore not be used during flight.
    </p>
      <br/>
    <p>
    Therefore You agree and acknowledge that any use of this application for any other purpose is strictly forbidden. You assume full responsibility for all other usage made by you including any damage to people or property. You acknowledge that the Application provider cannot be claimed in any case and hereby you release the Application provider from liability for any such damages and you are prepared to bear the risk of such potential damages by yourself.
    </p>
<br/>
    <p>
    <i>Aviation eLearning 2016</i>
    </p>

  </ion-content>
</ion-view>